* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 320px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

:root {
  --title-text-color: #212121;
  --background-color: #FFFFFF;
  --text-white-color: #FFFFFF;
  --secondary-text-color: #757575;
  --accent-text-color: #2196F3;
  --text-logo-color: #000000;
  --footer-hero-background-color: #2F303A;
  --secondary-background-color: #F5F4FA;
  --features-background-color: #E5E5E5;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--title-text-color);
  background-color: var(--background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.subscribe__input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.subscribe__input::-moz-placeholder {
  display: flex;
  align-items: center;
}

.subscribe__input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.subscribe__input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.check__text, .subscribe__input::placeholder, .client__list, .connect__mail,
.connect__tel, .navigation__list, .navigation, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__button, .check__text .check__span, .join__soc-link, .join__soc-list, .client__link, .networks__link, .doing__text, .hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  border-bottom: 1px solid var(--secondary-background-color);
}
.navigation__logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-logo-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
}

.navigation__list {
  margin-left: 93px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .navigation__list {
    display: none;
  }
}
.navigation__item {
  margin-left: 50px;
}
.navigation__item:first-child {
  margin-left: 0;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-text-color);
}
.navigation__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .connect__item {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .connect__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.connect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.connect__item.item + .item {
  margin-left: 50px;
}

.connect__mail,
.connect__tel {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__mail:hover,
.connect__mail:focus {
  color: var(--accent-text-color);
}

.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-text-color);
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: var(--accent-text-color);
}
.current::after {
  opacity: var(--accent-text-color);
}

.mobal__container {
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 5px;
}

.mobal__open-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--background-color);
}

.mobal__menu {
  position: fixed;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mobal__menu > .mobal__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobal__close-button {
  display: block;
  margin-left: auto;
  background-color: var(--background-color);
}

.mobal__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobal__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobal__connect {
  margin-top: 302px;
}

.mobal__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobal__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}

.mobal__networks {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobal__networks-item:not(:first-child) {
  margin-left: 20px;
}

.mobal__networks-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobal__networks-link::before {
  content: "";
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/Img\ \(hero-mob\).jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Img\ \(hero-mob\).jpg);
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/Img\ \(hero-mob\).jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Img\ \(hero-mob\).jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/Img\ \(hero-tabl\).jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Img\ \(hero-tabl\).jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/Img\ \(hero\).jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Img\ \(hero\).jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
  max-width: 696px;
}

@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    width: 396px;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  cursor: pointer;
  background-color: var(--accent-text-color);
  margin-top: 30px;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn :focus {
  background-color: #188CE8;
}

.features {
  padding-bottom: 0;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}

.item-antenna::before {
  background-image: url(../features.png/antenna\ 1.png);
}

.item-clock::before {
  background-image: url(../features.png/clock\ 1.png);
}

.item-diagram::before {
  background-image: url(../features.png/diagram\ 1.png);
}

.item-astronavt::before {
  background-image: url(../features.png/astronaut\ 1.png);
}

.features__after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  max-width: 270px;
}
@media screen and (max-width: 768px) {
  .features__after-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-top: 10px;
  max-width: 270px;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  .features__text {
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .doing {
    display: none;
  }
}

.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.doing__item:not(:last-child) {
  margin-right: auto;
}

.doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.doing__text {
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
}

.employees {
  background: rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.employees__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .employees__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.employees__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.employees__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .employees__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .employees__item {
    width: calc((100% - 90px) / 4);
  }
}

.employees__container {
  padding: 30px 0;
}

.employees__after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.employees__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-text-color);
  color: var(--background-color);
}

.networks__icon {
  fill: currentColor;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .client__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.client__list {
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__item {
  width: 170px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 30px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 90px) / 7);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link :focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.client__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-hero-background-color);
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.adress {
  margin-top: 20px;
}

.adress__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
  text-decoration: none;
}

.adress__span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-text-color);
}

.join__container {
  margin-left: 70px;
}

.join__soc-list {
  gap: 10px;
}

.join__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.join__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__soc-link:hover, .join__soc-link:focus {
  background-color: var(--accent-text-color);
}

.join__soc-icon {
  fill: var(--text-white-color);
}

.subscribe__container {
  margin-left: 93px;
}

.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
  margin-right: 10px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  resize: none;
  outline-color: var(--accent-text-color);
  background-color: var(--footer-hero-background-color);
  color: var(--background-color);
  padding: 16px 15px;
}
.subscribe__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}
.subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}
.subscribe__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: 12px;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-text-color);
  padding-left: 29px;
  padding-right: 62px;
}

.subscribe__soc-icon {
  position: absolute;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal__window {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(-280deg);
          transform: translate(-50%, -50%) scale(0) rotate(-280deg);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--background-color);
}

.modal__window-icon {
  fill: var(--background-color);
  border: 1px solid var(--features-background-color);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--text-logo-color);
}
.modal__close:hover .modal__window-icon {
  fill: var(--accent-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.label__container {
  margin-bottom: 10px;
}

.label__modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 4px;
}

.label__input-container {
  position: relative;
}

.label__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label__input:focus-within + .label__icon, .label__input:hover + .label__icon {
  fill: var(--accent-text-color);
}

.label__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-color: var(--accent-text-color);
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label__input:hover {
  border: 1px solid var(--accent-text-color);
}

.area__container {
  width: 100%;
  height: 120px;
  padding-top: 15px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline-color: var(--accent-text-color);
}
.area__container:hover {
  border: 1px solid var(--accent-text-color);
}
.area__container:focus-within::-webkit-input-placeholder, .area__container:hover::-webkit-input-placeholder {
  color: var(--accent-text-color);
}
.area__container:focus-within::-moz-placeholder, .area__container:hover::-moz-placeholder {
  color: var(--accent-text-color);
}
.area__container:focus-within:-ms-input-placeholder, .area__container:hover:-ms-input-placeholder {
  color: var(--accent-text-color);
}
.area__container:focus-within::-ms-input-placeholder, .area__container:hover::-ms-input-placeholder {
  color: var(--accent-text-color);
}
.area__container:focus-within::placeholder, .area__container:hover::placeholder {
  color: var(--accent-text-color);
}
.area__container::-webkit-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area__container::-moz-placeholder {
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area__container:-ms-input-placeholder {
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area__container::-ms-input-placeholder {
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area__container::placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__file {
  background: var(--background-color);
  border-radius: 4px;
  margin-top: 20px;
}

.check__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.check__accent-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-text-color);
}

.check__text .check__span {
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-radius: 3px;
  margin-right: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__check:checked + .check__text .check__span {
  background-color: var(--accent-text-color);
  border: none;
}

.input__check:checked + .check__text .check__icon {
  fill: var(--background-color);
}

.input__check:focus + .check__text .check__span {
  border-color: var(--accent-text-color);
}

/* .check-text::before {
    content: "" ;
    width: 16px;
    height: 15px;
    border: 2px solid;
    border-radius: 3px;
    margin-right: 7px;
}
.input-check:checked + .check-text::before {
    background-color: var(--accent-text-color);
    background-image: url(../images/icon\ check\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.modal__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-text-color);
  padding: 10px 56px;
  margin-top: 30px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:nth-child(n+2) {
  margin-left: 8px;
}

.filter__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--text-white-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projekt__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projekt__link:hover, .projekt__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projekt__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projekt__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .projekt__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projekt__item {
    width: calc((100% - 90px) / 4);
  }
}

.projekt__ghostly {
  position: relative;
  overflow: hidden;
}

.projekt__ghostly-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 101%;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projekt__link:hover .projekt__ghostly-text, .projekt__link:focus .projekt__ghostly-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.after__projekt {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.projekt__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projekt__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */