.filter__list {
    display: flex;
    justify-content: center;
    
}
.filter__item:nth-child(n+2) {
    margin-left: 8px;
}
.filter__btn {
    font-family: 'Roboto';
    font-style: normal;
    @include font(500, 16px, 1.62);
    text-align: center;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--text-white-color);
        background-color: var(--accent-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

