      .projekt__link {
          display: block;
          transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
          &:hover,
          &:focus {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
      .projekt__list {
          display: flex;
          margin-top: 50px;
          flex-wrap: wrap;
          gap: 30px;
      }
       .projekt__item {
        width: 100%;
        
            @media screen and (min-width: 768px) {
                width: calc((100% - 30px) / 2);
            }
        
            @media screen and (min-width: 1200px) {
                width: calc((100% - 90px) / 3);
            }
        }
       
      .projekt__ghostly {
          position: relative;
          overflow: hidden;
      }
      .projekt__ghostly-text {
          position: absolute;
          top: 0;
          left: 0;
          padding: 63px 24px;
          font-family: 'Roboto';
          font-style: normal;
          @include font(400, 18px, 1.56);
          color: var(--text-white-color);
          background-color: rgba(33, 150, 243, 0.9);
          height: 101%;
          width: 100%;
          transform: translateY(100%);
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
          .projekt__link:hover &,
          .projekt__link:focus & {
                transform: translateY(0);
            }
        }

      .after__projekt {
          padding: 20px 24px;
          border: 1px solid #EEEEEE;
      }

      .projekt__title {
        @include font(700, 18px, 2);
          color: var(--title-text-color);
      }

      .projekt__text {
        @include font(400, 16px, 1.88);
          color: var(--secondary-text-color);
          margin-top: 4px;
      }